
.container {
  width: 60%;
}

.rainbow-text {
    background-image: repeating-linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

html, body{
  padding: 0;
  margin: 0;
  background-color: #1e2338;
}

body {  display: none; }

p, h2, h5{
  color: rgba(255,255,255,.75);
}


img:not(#imgModal) {
  cursor: pointer;
  transition: 0.3s;
}

img:hover:not(#imgModal)  {opacity: 0.8;}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
.dropdown-menu {
  background: #1e2338;
}
.dropdown-item {
  color: rgba(255,255,255,.75);
}

.dropdown-item:hover {
  color: rgba(255,255,255,.75);
  background: #242942;
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.4s;
  animation-name: zoom;
  animation-duration: 0.4s;
}

#bandcamppp {
    opacity: 0.6;
    position: fixed;
    width: 349px;
    bottom: 1.25rem;
    left: 1.5rem;
    z-index: 3;
    transition: 0.2s;
}
#bandcamppp:hover {
  opacity: 1;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}